<h1>My Profile</h1>


<div class="row">
  <div class="col-md-6">
    <div style='width: 800px;'>
      <div id="multi_markers" style='width: 800px; height: 400px;'>
      </div>
    </div>
    
</div>
    
    
  </div>
  <div class="col-md-6">
    <% @user.products.each do |product| %>
 <%= link_to(image_tag(product.image, :class => 'thumbnail'), product) %> 
<% end %>
  </div>
</div>

