<h1>Watched List</h1>

<% if @current_user %>
  <% @watched_purchases.each do |purchase| %>
    <%= link_to(image_tag(purchase.product.image, :class => 'purchase-index'), purchase.product ) %>
  <% end %>
<% end %>