<script>
  var addMarker, handler = Gmaps.build('Google'), markers = [];

  $(document).ready(function () {
    addMarker = function (latitude, longitude) {
      markers.push( { lat: latitude, lng: longitude } );
    };
  });
</script>

<div class="row">
  <div class="col-md-6">
    <% @results.each do |result| %>
      <%= link_to(image_tag(result.image, :class => 'search'), result ) %>

      <% if result.user && result.user.latitude && result.user.longitude %>
        <script>

        $(document).ready(function () {
          addMarker( parseFloat('<%= result.user.try(:latitude) %>'), parseFloat('<%= result.user.try(:longitude) %>') );
        });
        </script>
      <% end %>
    <% end %>
  </div>


  <div class="col-md-6">
    <div style='width: 800px;'>
      <div id="map" style='width: 800px; height: 600px;'>
      </div>
    </div>
  </div>

<script>
  $(document).ready(function () {

    handler.buildMap({ 
      provider: {}, 
      internal: { id: 'map' }}, 
      function(){
        markers = handler.addMarkers( markers );
        handler.map.centerOn( markers[0] );
        handler.getMap().setZoom(11);
      }
    );

  });
</script>