

<div class="container main-container">

  <div role="tabpanel">

<div class="row masonry-container">
  <% @products.each do |product| %>
    <div class="col-md-4 col-sm-6 item">
      <div class="thumbnail index">
        <%= link_to(image_tag(product.image), product, :class =>"element") %>
        <button type="button" class="preview btn btn-default btn-sm">
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 
        </button> 
        <p>Tags: <%= product.tag_list %></p>
      </div>
    </div>
  <% end %>
</div>

